#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service msim_sh /vendor/bin/init.qcom.msim.sh
    user root
    group root
    oneshot

on post-fs
    # radio
    exec_start msim_sh
    setprop persist.radio.multisim.config ${vendor.radio.multisim.config}
